<td><a href="{{ stock.link }}">{{ stock.name }}</a></td>
<td>{{ stock.code }}</td>
<td align="right">{{ stock.buy_price }}<br><span style="font-weight: bold; color: LightCoral;">{{ stock.buy_price_gap_percent|floatformat:2 }}%</span></td>
<td align="right">{{ stock.last_price|floatformat:2 }}</td>
<td align="right">{{ stock.sell_price }}<br><span style="font-weight: bold; color: green;">{{ stock.sell_price_gap_percent|floatformat:2 }}%</span></td>
<td align="right">{{ stock.nb }}</td>
<td align="right">{{ stock.total_price|floatformat:2 }}</td>
<td>{{ stock.timestamp }}</td>
<td class="table-secondary">
    <a class="update" id="{{ stock.code }}" href="#" onclick="update(this)">🔄</a>
    <br>
    <a href="stock_detail/?code={{ stock.code }}">📝</a>
</td>
